@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.wrapper {
  position: relative;
  max-width: 900px;
  width: 100%;
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.wrapper form {
  margin-top: 30px;
}

.wrapper form .input-box {
  margin: 18px 0;
  width: 100%;
  height: 40px;
}

form .input-box input {
  height: 40px;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-radius: 6px;
  transition: all 0.3s ease;
  background: #eaeaea;
}

.input-box input:focus {
  border-color: #303031;
  background: #fff;
}

.input-box input::placeholder {
  color: #888;
  font-size: 14px;
}

/* Adjusting button placement inside the right section */
.right-section .input-box.button {
  margin-top: 18px; /* Matches spacing of input fields */
}

.input-box.button input {
  height: 50px; /* Same as input fields */
  width: 100%; /* Full width alignment */
  color: #fff;
  border: none;
  background: black;
  cursor: pointer;
  border-radius: 6px;
  font-size: 17px;
}

.input-box.button input:hover {
  background: #333;
}

form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}

form .text h3 a {
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
}

form .text h3 a:hover {
  text-decoration: underline;
}

